@font-face {
	font-family: 'DALEK1';
	src: url('./DALEK1.eot');
	src: local('DALEK1'), url('./DALEK1.woff') format('woff'), url('./DALEK1.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_34410">Text with this font applied</p> */
.fontsforweb_fontid_34410 {
	font-family: 'DALEK1' !important;
}

/* Font downloaded from FontsForWeb.com */